@font-face{
  font-family: "Clemente";
  src: url("../resources/fonts/Clemente.ttf");
}

$font-stack: "Clemente", Candara, Helvetica, sans-serif;
$square-sm: 1.8em;

.topbar{
	display: flex;
  justify-content: space-between;
	position: fixed;
	top: 0;
  left: 0;
	width: 100%;
	background-color: #FCFCFC;
}
#title{
  padding: 1%;
  margin-left: 9%;
  float: left;
  font: 100% $font-stack;
  font-size: 2.9em;
  text-decoration: none;
  color: black;
  width: 100%;
}
#social-media{
  display: flex;
  float: right;
  margin-right: 9%;
  padding-bottom: 1vh;
}
.icon-link{
  display:flex;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}
.icon{
  width: $square-sm;
  height: $square-sm;
  padding-right: 2px;
}
#email{
  width: 2.4em;
}
@media (max-width: 450px){
  .topbar{
    flex-wrap: wrap;
  }
  #social-media{
    float: left;
    margin-left: 10%;
  }
}